.account-container {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
}

.account-container .change-email-container header p, .change-password-container header p {
    float: left;
}

.account-container #email, #password {
    pointer-events: none;
}

.account-container .personal-info div{
    margin-bottom: 15px;
}

.account-container .personal-info div label {
    margin-left: 5px;
    margin-bottom: -5px;
}

.account-container .personal-info div input {
    border: 2px solid silver;
    border-radius: 8px;
    width: 100%;
    padding: 4px;
    height: 40px;
    font-size: 20px;
    outline: none;
}

.account-container .change-link {
    color: slategrey!important;
    cursor: pointer;
    float: right;
}

.account-container .change-link:hover {
    color: black!important;
}

.account-container .save-btn {
    padding-left: 8px;
    padding-right: 8px;
    background: black;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    border: 3px #5f5f5b solid;
    cursor: pointer;
}
.account-container .save-btn:hover {
    background: #1e1e1e;
    border: 3px solid #1e1e1e;
}

.account-container p {
    margin-top: -5px;
    font-weight: 500;
    font-family: Cambria, sans-serif;
    float: right;
}

.change-email-container {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    background: white;
    border: 3px solid slategrey;
    -webkit-box-shadow: 9px 13px 25px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 9px 13px 25px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 9px 13px 25px 0 rgba(0, 0, 0, 0.18);
    padding: 10px;
    border-radius: 8px;
    display: none;

}
.change-email-container header {
    border-bottom: 1px solid #555555;
}

.change-email-container .new-email {
    margin-top: 10px;
    display: block;
    width: 70%;
}

.change-email-container .new-email label {
    margin-left: 5px;
    margin-bottom: -5px;
}

.change-email-container .new-email input {
    outline: none;
    padding-left: 5px;
    border: 2px solid slategrey;
    border-radius: 6px;
    width: 100%;
    font-size: 15px;
    height: 25px;
}

.account-container .btn {
    margin-top: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 2px;
    padding: 2px 4px;

}

.account-container .btn:hover {
    background: silver;
}

.account-container .btn:focus {
    outline: silver;
}

.change-email-container.open {
    display: block;
    transition: 0.3s;
}

.new-email.compression {
    margin-bottom: -15px;
}

.change-password-container {
    position: absolute;
    top: 10%;
    left: 15%;
    background: whitesmoke;
    border: 2px solid slategrey;
    -webkit-box-shadow: 9px 13px 25px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 9px 13px 25px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 9px 13px 25px 0 rgba(0, 0, 0, 0.18);
    padding: 10px;
    border-radius: 8px;
    width: 70%;
    display: none;
}


.change-password-container .password-block {
    width: 70%;
}

.change-password-container .password-block label {
    margin-bottom: -5px;
    margin-left: 5px;
}

.change-password-container .password-block input{
    height: 30px;
    outline: none;
    border: 2px solid slategrey;
    border-radius: 8px;
    padding-left: 8px;
    width: 100%;
}


.change-password-container.open {
    display: block;
}