.books-slider {
    width: 100%;
    height: 840px;
    margin-top: 15px;
    padding: 5px 0;
    position: absolute;
    z-index: 0;
}

.books-slider h1 {
    font-size: 50px;
    padding: 15px;
    line-height: 30px;
    overflow-y: hidden;
}

.books-slider header {
    width: 95%;
    height: 50px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    overflow-y: hidden;

}

.books-slider header p span{
    font-size: 40px;
    cursor: pointer;
    width: 35px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
    height: 30px;
    color: #555;
    overflow-y: hidden;
    margin-top: 25px;
}

.books-slider header p span:hover {
    background: #222;
    color: white;
}

.books-slider section {
    margin: 25px 0 0 5px;
    display: flex;
}

.books-slider section .card {
    position: relative;
    left: 0;
    transition: 0.5s;
    min-width: 24%;
    margin: 0 15px 0 0;
    overflow-y: hidden;
    border: none!important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;


}

.books-slider section .card .book-img {
    width: 300px;
    height: 410px;
    border: #5f5f5b solid 5px;
    padding: 5px;
}

.books-slider section .card .book-info {
    width: 300px;
    height: 260px;
    background-color: #21222d;
    font-family: "Cascadia Code", sans-serif;
    color: #fff;
    padding: 0.8rem;
    overflow-y: hidden;
}

.books-slider section .card .star-rating {
    margin-top: 5px;
    font-size: 0.7rem;
    color: #fdcc0d;
    user-select: none;
}

.books-slider section .card .numeric-rating {
    margin-left: 5px;
    font-size: 15px;
    margin-top: -7px;
}


.books-slider .card .book-info p{
    font-size: 0.8rem;
    color: #5f5f5b;
    margin-top: 15px;
}

.books-slider  .card .buttons {
    height: 50px;
    margin-top: -20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
    padding: 0.8rem;
    overflow-y: hidden;


}
.books-slider .card .price {
    font-weight: 700;
    font-size: 1.1rem;
    color: white;
}

.books-slider .card .btn {
    position: relative;
    outline: none;
    background-color: #1b1b1b;
    color: #fff;
    height: 40px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-family: "Cascadia Code", sans-serif;
    cursor: pointer;
    border: 3px solid #b4ad9e;
    overflow-y: hidden;
}

.books-slider .card .cart {
    width: 160px;
    line-height: 22px;
}

.books-slider .card .cart:hover {
    transition: 0.3s ease-in;
    background-color: #333333;
}

.books-slider .card .wishlist {
    margin-right: 5px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid #b4ad9e;
    overflow-y: hidden;
}



.books-slider .card .wishlist:hover {
    transition: 0.3s ease-in;
    background-color: #333333;
}

.right{
    margin-left: 290px;
}
.left {
    margin-right: 245px;
}

.book-info span:hover {
    transition: 0.3s ease-in-out;
    border-bottom: white 1px;
}

.books-slider .card .book-info .isbn {
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    font-size: 0;
    width: 0;
}

.books-slider .fa-heart {
    margin-left: -2px;
}

.books-slider section .card .book-info span {
    cursor: pointer;
}

.books-slider section .card .book-info span:hover {
    border-bottom: 1px solid #fff;
    transition: 0.2s ease-in-out;
}

