* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background-size: cover;
    background: white;
}

.sidebar {
    background: rgba(255, 255, 255, 0.1);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.3s ease;
    transition-property: left;
    overflow-y: auto;
    z-index: 1;
}

.sidebar.active{
    left: 0;
}

.sidebar .item .sub-menu .sub-item:hover {
    margin-top: 1px;
    color: dimgrey!important;
}

.sidebar .item .sub-btn:hover{
    color: #1b1b1b;
}

.container-fluid.compression {
    margin-left: 230px;
}

#menu.compression {
    margin-right: 230px;
}

.sidebar .menu {
    width: auto;
    margin-top: 20px;
}

.sidebar .menu .item {
    position: relative;
    cursor: pointer;
}

.sidebar .menu .item .sub-menu .sub-item {
    color: grey;
}


.sidebar .menu .item a{
    color: #b4ad9e;
    background: white;
    font-size: 16px;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
    text-decoration: none;
    text-align: center;

}

.sidebar .menu .item .main:hover {
    color: #1b1b1b;
    transition: 0.3s ease;
}

.sidebar .menu .item .main::after {
    content: '';
    display: block ;
    width: 100%;
    background-color: #1b1b1b;
    height: 1px;
    transform: scale(0);
    transition: all 0.3s;
}


.sidebar .menu .item .main:hover::after {
    margin-bottom: 1px;
    transform: scale(1);
}

.sidebar .menu .item i {
    margin-right: 15px;
}

.sidebar .menu .item a .dropdown{
    position: absolute;
    right: auto;
    margin: 22px;
    transition: 0.3s ease;
}

.sidebar .menu .item .sub-menu {
    background: rgba(255, 255, 255, 0.1);
    display: none;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.sidebar .menu .item .sub-menu .sub-item {
    padding-left: 70px;
}

.rotate {
    transform: rotate(90deg);
}

.fa-bars {
    color: black;
    cursor: pointer;
}

#navbarSupportedContent ul li a {
    color: #b4ad9e;
}

#navbarSupportedContent ul li a:hover {
    color: black;
}

header .nav-item{
    margin-left: 35px;
    cursor: pointer;
}

header .nav-item a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #1b1b1b;;
    height: 1px;
    transform: scale(0);
    transition: all 0.3s;
}

header .nav-item a:hover::after {
    transform: scale(1);
}

.nav-item input {
    border: solid 1px #b4ad9e;
    padding-left: 10px;
    width: 170px;
    border-radius: 3px;
    outline: 3px;
    height: 30px;
}

.nav-item .fa-search {
    color: slategray;
    margin-top: 10px;
    margin-left: 5px;

}

.nav-item .fa-search:hover {
    color: #1b1b1b;
}

.sidebar .item .sub-menu.none {
    border-top: none;
}