@CHARSET "ISO-8859-1";
.navbar {
    border-radius: 0;
    background-color: #261a0d;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 10px 5px 10px 5px;
    height: 80px;
    box-sizing: border-box;
}
.navbar .container-fluid .navbar-header .navbar-brand {
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin: 0 !important; }
.navbar .container-fluid .navbar-collapse .navbar-nav {
    float: right; }
.navbar .container-fluid .navbar-collapse .navbar-nav li {
    padding: 10px 0 0 10px; }
.navbar .container-fluid .navbar-collapse .navbar-nav li .nav-links {
    max-width: 119px;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: #992600;
    color: white;
    line-height: 19px;
    cursor: pointer; }
.navbar .container-fluid .navbar-collapse .navbar-nav li .sublist {
    background: #0d0d0d; }
.navbar .container-fluid .navbar-collapse .navbar-nav li .sublist li {
    padding: 7px 0px 7px 10px;
    font-size: larger; }
.navbar .container-fluid .navbar-collapse .navbar-nav li .sublist li a {
    color: white;
    display: inline-block; }
.navbar .container-fluid .navbar-collapse .navbar-nav li .sublist li a:hover {
    background-color: inherit; }
.navbar .container-fluid .navbar-collapse .navbar-nav li .sublist .icon {
    color: white; }
.navbar .container-fluid .navbar-collapse .navbar-nav li .cart-count {
    color: #992600;
    background-color: white; }
