* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background-size: cover;
    background: whitesmoke center no-repeat;
}

.sidebar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.3s ease;
    transition-property: left;
    overflow-y: auto;
}

.sidebar.active{
    left: 0;
}
.container-fluid{
    padding: 0!important;
}
.container-fluid.compression {
    margin-left: 290px;
}

#menu.compression {
    margin-right: 290px;
}

.sidebar .menu {
    width: auto;
    margin-top: 20px;
}

.sidebar .menu .item {
    position: relative;
    cursor: pointer;
}

.sidebar .menu .item a{
    color: #b4ad9e;
    background: white;
    font-size: 16px;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
    text-decoration: none;
    text-align: center;

}

.sidebar .menu .item a:hover {
    color: #898377;
    transition: 0.3s ease;
}

.sidebar .menu .item a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: black;
    height: 1px;
    transform: scale(0);
    transition: all 0.3s;
}

.sidebar .menu .item a:hover::after {
    transform: scale(1);
}

.sidebar .menu .item i {
    margin-right: 15px;
}

.sidebar .menu .item a .dropdown{
    position: absolute;
    right: auto;
    margin: 22px;
    transition: 0.3s ease;
}

.sidebar .menu .item .sub-menu {
    background: rgba(255, 255, 255, 0.1);
    display: none;
}

.sidebar .menu .item .sub-menu a {
    padding-left: 80px;
}

.rotate {
    transform: rotate(90deg);
}

.fa-bars {
    color: black;
}

#navbarSupportedContent ul li a {
    color: #b4ad9e;
}

#navbarSupportedContent ul li a:hover {
    color: #898377;
}

header .nav-item{
    margin-left: 35px;
}
header .nav-item a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: black;
    height: 1px;
    transform: scale(0);
    transition: all 0.3s;
}

header .nav-item a:hover::after {
    transform: scale(1);
}
