.notice-container {
    display: none;
    z-index: 1;
    position: absolute;
    left: 62%;
    top: 10%;
    width: 300px;
    max-height: 400px;
    max-width: 330px;
}

.notices {
    max-height: 400px;
    width: 300px;
    max-width: 330px;
    border: 2px solid #5f5f5b;
    background-color: #b4ad9e;
    padding: 4px;
    -webkit-box-shadow: 9px 13px 25px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 9px 13px 25px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 9px 13px 25px 0 rgba(0, 0, 0, 0.18);
    border-radius: 4px 4px 10px 10px;

}

.notice {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 10px;
    font-family: "Cascadia Code", sans-serif;
    width: auto;
    height: auto;
    background-color: #21222d;
    overflow-y: hidden;
}

.notice .text {
    width: 90%;
    height: 75%;
    display: inline-block;
    color: #fff;
}

.notice .n-btn {
    background-color: white;
    color: #1e1e1e;
    font-family: Corbel, sans-serif;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    left: 8%;
    padding: 2px;

}

.notice .n-btn:hover {
    background-color: silver;

}

.notice .n-btn.non-active {
    opacity: 0.5;
    pointer-events: none;
}

.notice-container.active {
    display: block;
    transition: 270ms ease-in-out;
}

.notice .notice-date {
    color: silver;
    display: inline-block;
    width: 60%;
}

.notice .notice-id {
    display: none;
}

.notices .show-btn {
    background: #b4ad9e;
    position: relative;
    left: 40%;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid whitesmoke;
    color: whitesmoke;
    text-transform: uppercase;
    display: inline-block;

}

.notices .show-btn:hover {
    transition: 0.3s ease-in-out;
    color: silver;
    border-bottom: 2px solid silver;

}

.non-active-container {
    position: absolute;
    display: none;
    background: whitesmoke;
    border: 1px solid silver;
    border-radius: 10px;
    width: 230px;
    padding: 4px;
    z-index: 1;
    left: 65%;
}

.non-active-container .text {
    color: #1e1e1e;
    margin-left: 4px;
}

.non-active-container .show-btn {
    color: #555555!important;
    margin-left: 75px;
    cursor: pointer;
    font-weight: 400;
}

.non-active-container .show-btn:hover {
    color: #1b1b1b!important;
}

.non-active-container.show {
    transition: 0.3s ease-in-out;
    display: block;
}
