.order-container{
    position: absolute;
    top: 20%;
    left: 15%;
}

.order-container.container {
    width: 65%;
}

.order-container .row {
    width: 100%;
}

.order-container .order-header .row {
    height: 30px;
}

.order-container .order-header .row .col-sm-6 {
    padding-left: 30px;
    font-family: "Cascadia Code", sans-serif;
    color: black;
}

.order-container .order-header .row .col-sm-2, .col-sm-4 {
    text-align: center;
    font-family: "Cascadia Code", sans-serif;
    color: black;
}


.order-container .book-image {
    margin-top: 10px;
    width: 170px;
    height: 235px;
    border: 5px solid #708090;
    padding: 2px;
}

.order-container .media-body {
    margin-top: 10px;
    margin-left: 10px;
}

.order-container .order-summary {
    background: whitesmoke;
    height: 270px;
    border-bottom: 3px solid darkgray;
}

.order-container .order-main {
    width: 100%;
    margin-bottom: 35px;
    border-radius: 6px;
    background: silver;
    height: 340px;
    border-bottom: 3px darkgray solid;
    border-right: 3px darkgray solid;
    border-left: 5px darkgray solid;
}

.order-container .order-components {
    margin-left: 10px;
}


.order-container .details-btn {
    width: 135px;
    background: black;
    color: white;
    padding: 8px;
    border-radius: 8px;
    height: 35px;
    line-height: 10px;
    margin-top: 10%;
    margin-left: 10%;
}

.order-container .media-body div {
    font-weight: 700;
    color: #1b1b1b;
}

.order-container .details-btn:hover {
    background: #222222;
}

.order-container .media-heading {
    margin-bottom: 5px;
}

