body{
    font-family: "Lato", sans-serif;
}
.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidebar a:hover {
    color: #f1f1f1
}

.sidebar .closeSideBar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}
.openSideBar {
    font-size : 15px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
.openSideBar:hover{
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}