.about {
    background: whitesmoke;
    width: 265px;
    text-align: center;
    padding: 2px;
    border-radius: 30%;
    border: 2px solid slategrey;
    opacity: 0;
    -webkit-box-shadow: 9px 13px 25px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 9px 13px 25px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 9px 13px 25px 0 rgba(0, 0, 0, 0.18);
}

.about.show {
    transition: 300ms ease-out;
    opacity: 1;
}