#card-container {
    margin-left: 200px;
    margin-top: 200px;
    z-index: 0;
    position: absolute;

}

#card-container .card {
    margin-right: 50px;
    border: none;
    color: white;
}

#card-container .book-img {
    width: 205px;
    height: 275px;
    border: slategray solid 5px;
    padding: 5px;
}

#card-container .book-info {
    width: 205px;
    height: 135px;
    background-color: #634430;
    font-family: "Cascadia Code", sans-serif;
    color: whitesmoke;
    padding: 0.8rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


#card-container .card .star-rating {
    margin-top: 5px;
    font-size: 0.7rem;
    color: #fdcc0d;
    user-select: none;
}

#card-container .card .numeric-rating {
    margin-left: 5px;
    font-size: 15px;
    margin-top: -7px;
}

#card-container .card .buttons {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -60px;
    padding: 0.8rem;
}

#card-container .card .btn {
    position: relative;
    border: 2px silver solid;
    outline: none;
    background-color: dimgrey;
    color: #fff;
    border-radius: 50px;
    font-size: 0.9rem;
    font-family: "Cascadia Code", sans-serif;
    cursor: pointer;
    overflow-y: hidden;
    height: 40px;


}

#card-container .cart {
    width: 80px;

}

#card-container .cart:hover {
    transition: 0.3s ease-in;
    background-color: #333333;
    color: white;
}

#card-container .wishlist {
    border-radius: 50%;
    width: 40px;
}

#card-container .wishlist:hover {
    transition: 0.3s ease-in;
    background-color: #333333;
    color: white;
}

#card-container.right{
    margin-left: 300px!important;
}

.card.squeeze {
    margin-right: 40px!important;
}

.to-cart {
    background-color: #333333;
}

#card-container .book-info .isbn {
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    font-size: 0;
    width: 0;
}


#card-container .wishlist.btn .fa-heart {
    line-height: 25px;
}

.row {
    margin-bottom: 5%!important;
}

#card-container .shop.cart.btn.select {
    background-color: #1b1b1b;
}

