<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" th:href="@{/css/addbook.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/categories.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}">
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/3577b7bc4a.js" crossorigin="anonymous"></script>

</head>
<body>
<div th:insert="~{navbar :: navbar}"></div>
<div class="container">
    <h3> Add book </h3>

    <div class="add-element">
        <label for="isbn"> ISBN </label>
        <input type="text" id="isbn" placeholder="ISBN">
        <p class="error-message" id="isbn-error"></p>
    </div>


    <div class="add-element">
        <label for="title"> Title </label>
        <input type="text" id="title" placeholder="Title">
        <p class="error-message" id="title-error"></p>
    </div>

    <div class="add-element">
        <label for="publisher"> Publisher </label>
        <input type="text" id="publisher" placeholder="Publisher">
        <p class="error-message" id="publisher-error"></p>
    </div>

    <div class="add-element">
        <label for="year"> Year Of Publication </label>
        <input type="text" id="year" placeholder="Year Of Publication">
        <p class="error-message" id="year-error"></p>
    </div>


    <div class="add-element">
        <label for="subject"> Subject </label>
        <input type="text" id="subject" placeholder="Subject">
        <p class="error-message" id="subject-error"></p>
    </div>


    <div class="add-element">
        <label for="copies"> Available Copies </label>
        <input type="text" id="copies" placeholder="Available Copies">
        <p class="error-message" id="copies-error"></p>
    </div>

    <div class="add-element">
        <label for="price"> Price </label>
        <input type="text" id="price" placeholder="Price">
        <p class="error-message" id="price-error"></p>
    </div>



    <div class="add-element">
        <label for="desc"> Description </label>
        <textarea type="text" id="desc" placeholder="Description"></textarea>
        <p class="error-message" id="desc-error"></p>
    </div>

    <div class="add-element">
        <label for="author"> Author </label>
        <input type="text" id="author" placeholder="Author">
        <p class="error-message" id="author-error"></p>
    </div>

    <div class="add-element">
        <label for="format"> Format </label>
        <input type="text" id="format" placeholder="Format">
        <p class="error-message" id="format-error"></p>
    </div>

    <div class="file-load" id="image">
        <label> Select Book Image </label>
        <div class="file-load-block">
            <input type="file" id="file">
            <div class="fileLoad">
                <input type="text" value="Book Image">
                <button class="image-btn"> Select Image </button>
            </div>
        </div>
        <p class="error-message" id="image-error"></p>
    </div>

    <div id="categories">
        <div class="select-btn" >
            <span class="btn-text"> Select Book Categories </span>
            <span class="arrow-down" id="arrow">
                <i class="fas fa-chevron-down"></i>
            </span>
        </div>
        <ul class="list-items">
            <li class="item" th:each="category : ${categories}">
                <span class="checkbox">
                    <i class="fas fa-check"></i>
                </span>
                <span class="item-text" th:text="${category.category}"></span>
            </li>
        </ul>
        <p class="error-message" id="categories-error"></p>
    </div>

    <button class="save-btn"> <span> Save Book </span></button>

</div>

<script type="module" th:src="@{/js/navbar.js}"></script>
<script type="module" th:src="@{/js/login.js}"></script>
<script type="module" th:src="@{/js/reset.js}"></script>
<script type="module" th:src="@{/js/confirmReset.js}"></script>
<script type="module" th:src="@{/js/validation.js}"></script>
<script type="module" th:src="@{/js/generateRating.js}"></script>
<script type="module" th:src="@{/js/cards.js}"></script>
<script type="module" th:src="@{/js/addBook.js}"></script>
<script th:src="@{/js/categories.js}">

</script>
</body>
</html>