<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script src="https://kit.fontawesome.com/3577b7bc4a.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{navbar :: navbar}"></div>
<div class="container cart-container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-10 col-xs-12 col-md-offset-1">
            <table class="table table-hover">
                <thead class="cart-panel">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <td>&nbsp;</td>
                </tr>
                </thead>
                <tbody>
                <tr class="cart-item" th:each="item : ${cart.cartItems}">
                    <td class="col-lg-8 product">
                        <div class="media">
                            <div class="product-image">
                                <img th:src="@{'/images/' + ${item.book.bookImageName}}">
                            </div>
                            <div class="product-desc">
                                <div class="isbn" th:text="${'ISBN : ' + item.book.isbn}"></div>
                                <div th:text="${'Subject : ' + item.book.subject}"></div>
                                <div th:text="${'Authors : ' + item.book.authors}"></div>
                                <div th:text="${'Publisher : ' + item.book.publisher}"></div>
                                <div th:text="${'Stock : ' + item.book.availableCopies}"></div>
                            </div>
                        </div>
                    </td>

                    <td class="col-lg-1 quantity">
                        <input type="text" class="form-control text-center"
                               th:value="${item.quantity}"/>
                    </td>


                    <td class="col-lg-1 price"
                        th:text="${item.book.price + ' ₽'}"></td>
                    <td class="col-lg-1 price"
                        th:text="${item.total + '0 ₽'}"></td>

                    <td class="col-lg-1 remove-btn"><i class="fa-sharp fa-solid fa-xmark"></i></td>

                </tr>
                <tr class="subtotal">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><h5>Subtotal</h5></td>
                    <td class="text-right"><div th:text="${cart.subtotal + '0 ₽'}"></div></td>
                </tr>
                <tr class="shipping-cost">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><h5>Estimated shipping</h5></td>
                    <td class="text-right"><div> 170.00 ₽ </div>
                </tr>
                <tr class="total">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><h3 style="margin-top: -5px">Total</h3></td>
                    <td class="text-right"><div th:text="${cart.total + '0 ₽'}"></div></td>
                </tr>
                </tbody>

                <tr class="table-footer">
                    <td class="buttons">
                        <span id="home-btn" class="button" style="margin-right: 10px"> Back Home </span>
                        <span id="checkout-btn" class="button"> Checkout </span>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
<script type="module" th:src="@{/js/navbar.js}"></script>
<script type="module" th:src="@{/js/cart.js}"></script>
<script type="module" th:src="@{/js/main.js}"></script>
</body>
</html>