<div class="auth-form reset" id="popup-confirm-reset" th:fragment="confrim-body">
    <div class="close-reset-btn" id="close-confirm-reset"> &times; </div>
    <div class="form-reset">
        <h2> Confirm Reset </h2>

        <div class="form-element">
            <label for="code"> Confirm Code </label>
            <input type="text" id="code" placeholder="Enter Confirm Code">
        </div>

        <div class="form-element">
            <button id="done-btn"> Done </button>
        </div>
    </div>
</div>