<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/home.css}"/>
    <title>Home</title>
</head>
<body>
<div class="layout-main container">
    <div class="search-bar container">
        <div class="row">
            <div id="search-input">
                <div class="input-group">
                    <input type="text" id="query" class="searchQuery form-control">
                    <span class="input-group-addon glyphicon glyphicon-search search-btn" onclick="sendQuery();"></span>
                </div>
            </div>
        </div>
        </div>

                <h3>Trending today</h3>

             <div class="container mt-5">
                 <div class="row">
                     <div class="col-sm-12">
                         <div id="booksCarousel" class="carousel slide" data-ride="carousel">
                             <div class="carousel-inner" role="listbox">
                                 <div class="carousel-item active">
                                     <div class="container">
                                         <div class="row">
                                 <div class="col-lg-3 d-flex align-items-stretch" th:each="book : ${books}">
                                     <div class="panel-heading book-title"
                                          th:text="${book.title}">
                                     </div>
                                     <div class="panel-body">
                                         <a th:href="${'/home/book/info?isbn=' + ${book.isbn}}">
                                             <img class="img-responsive book-cover" th:src="${book.bookImageName}">
                                         </a>
                                 </div>
                                     <div class="panel-footer price">
                                     Price
                                     <span th:text="${book.price}">&#8381;</span>
                                             <form method="post" th:action="@{'/home/cart/addtocart?isbn=' + ${book.isbn}}">
                                                 <div class="panel-footer">
                                                     Add to cart
                                                     <div class="glyphicon-shopping-cart"></div>
                                                 </div>
                                             </form>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                         <div class="container pt-3">
                             <ol class="carousel-indicators">
                                 <li data-target="#booksCarosel" data-slide-to="0" class="active" style="background-color: white"></li>
                                 <li data-target="#booksCarousel" data-slide-to="1" style="background-color: white"></li>
                                 <li data-target="#booksCarousel" data-slide-to="2" style="background-color: white"></li>
                             </ol>
                         </div>
                    </div>
                </div>
             </div>
             </div>
</div>
</body>
<script>
    function sendQuery(){
      let query = document.getElementById("query").innerHTML;
        $.ajax({
            type: "GET",
            url: "/home/search?text=" + query
        });
    }
</script>
</html>