<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}"/>
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/home/login}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log in</h5>
            </div>
            <div class="modal-body">
                <div class="form-group"
                th:classappend="${#fields.hasErrors('email')}">
                    Email address
                    <input type="text"
                           th:field="${user.email}"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="e-mail address"/>
                    <p class="error-message"
                    th:each="error : ${#fields.errors('email')}"
                    th:text="${error}">Validation error</p>
                </div>
            </div>
            <div class="modal-footer">
                <div th:if="${#fields.hasErrors()}">
                    <button type="button" disabled="disabled" class="btn btn-dark">Continue</button>
                    <button type="button" class="btn-primary btn">Back home</button>
                </div>
                <div th:if="${!#fields.hasErrors()}">
                    <button type="button" class="btn btn-dark">Continue</button>
                    <button type="button" class="btn-primary btn">Back home</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>