<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/home/login}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log in</h5>
            </div>
            <div class="modal-body">
                <div class="form-group"
                th:classappend="${#fields.hasErrors('email')}">
                    Email address
                    <input type="text"
                           th:field="${user.email}"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="e-mail address"/>
                    <p class="error-message"
                    th:each="error : ${#fields.errors('email')}"
                    th:text="${error}">Validation error</p>
                </div>
            </div>
            <div class="modal-footer">
                    <a type="button" class="btn btn-dark" th:href="@{/home/code}"> Continue </a>
                    <a type="button" class="btn btn-light" th:href="@{/home}"> Back home </a>
            </div>
        </div>
    </div>
</form>
</body>
</html>