<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css" th:href="@{/css/navbar.css}">
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script src="https://kit.fontawesome.com/3577b7bc4a.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title> Navigation bar </title>
</head>
<body th:fragment="navbar">
<div class="sidebar">
    <div class="menu">
        <div class="item">
            <a class="sub-btn"> Books categories <i class="fas fa-angle-right dropdown"> </i></a>
            <div class="sub-menu" th:each="category : ${session.booksCategories}">
                <a class="sub-item" th:id="${category.id}" th:text="${category.category}"></a>
            </div>
        </div>
        <div class="item"><a th:href="@{/home/orders}"> Orders </a> </div>
        <div class="item"><a th:href="@{/home/wishlist}"> Wish list </a> </div>
        <div class="item"><a href="#"> About </a> </div>

        <div th:if="${session.user != null}">
            <div class="item"><a href="#"> Logout </a> </div>
        </div>

        <div th:if="${session.user == null}">
            <div class="item"><a th:href="@{/home/login}"> Log in </a> </div>
        </div>

        <div th:if="${session.user.isAdmin()}">
            <div class="item"><a th:href="@{/home/book/add}"> Add New Book </a> </div>
        </div>

    </div>
</div>

<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">

            <div onclick="controlSidebar()">
                <i class="fas fa-bars"
                   style="font-size: 17px; padding-left:
                   37px; padding-top: 7px">
                </i>
            </div>

            <a class="navbar-brand">
                <span style="padding-left: 10px;
                font-family: 'Cascadia Code',
                sans-serif"> Online Book Store </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" id="menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/home}"> Home </a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/home/cart}" th:text="${'Cart (' + ${session.user != null} ? ${session.user.cart.count} : '0' +')'}"></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> Account </a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<script>
    $(document).ready(function () {
        $('.sub-btn').click(function (){
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
        })

    });

    let open;

    function openSideBar(){
        document.querySelector('.sidebar').classList.add('active');
        document.querySelector(".container-fluid").classList.add("compression");
        document.querySelector("#menu").classList.add("compression");
        open = true;
    }

    function closeSidebar(){
        document.querySelector('.sidebar').classList.remove('active');
        document.querySelector(".container-fluid").classList.remove("compression");
        document.querySelector("#menu").classList.remove("compression");
        open = false;
    }

    function controlSidebar(){
        if(!open){
            openSideBar();
        }
        else closeSidebar();
    }


    function searchRequest(categoryQuery){
        $.ajax({
            type: "POST",
            dataType: "application/json",
            url: "/home/search?category=" + categoryQuery.category ,
            data: JSON.stringify(categoryQuery)
        });
    }

    let categories = document.querySelectorAll('.sub-item');
    let categoryQuery = {}
    for(let i = 0; i < a.length; i ++){
        categories[i].addEventListener('click', (e) => {
                categoryQuery['category'] = $(categories[i]).val();
            searchRequest(categoryQuery);
            });
    }



</script>
</body>
</html>