<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" th:href="@{/css/sidebar.css}">
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js" th:href="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script src="https://kit.fontawesome.com/3577b7bc4a.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title> Navigation bar </title>
</head>
<body>
<div class="sidebar">
    <div class="menu">
        <div class="item">
            <a class="sub-btn"> Books categories <i class="fas fa-angle-right dropdown"> </i></a>
            <div class="sub-menu">
                <a href="#" class="sub-item"> Detective </a>
                <a href="#" class="sub-item"> Children </a>
                <a href="#" class="sub-item"> Romantic </a>
            </div>
        </div>
        <div class="item"><a href="#"> Orders </a> </div>
        <div class="item"><a href="#"> Wish list </a> </div>
        <div class="item"><a href="#"> About </a> </div>

        <div th:if="${session.user != null}">
            <div class="item"><a href="#"> Logout </a> </div>
        </div>

        <div th:if="${session.user == null}">
            <div class="item"><a href="#"> Log in </a> </div>
        </div>
</div>
</div>

<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" onclick="controlSidebar()">
                <i class="fas fa-bars"></i>
                <span style="font-family: Calibri Light, sans-serif"> Online Book Store </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" id="menu">
                    <li class="nav-item"><a class="nav-link"> Home </a></li>
                    <li class="nav-item"><a class="nav-link" th:text="${'Cart (' + ${session.user != null} ? ${session.user.cart.count} : '0' +')'}"></a></li>
                    <li class="nav-item"><a class="nav-link"> Account </a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<script>
    $(document).ready(function () {
        $('.sub-btn').click(function (){
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
        })

    });

    let open;

    function openSideBar(){
        document.querySelector('.sidebar').classList.add('active');
        document.querySelector(".container-fluid").classList.add("compression");
        document.querySelector("#menu").classList.add("compression");
        open = true;
    }

    function closeSidebar(){
        document.querySelector('.sidebar').classList.remove('active');
        document.querySelector(".container-fluid").classList.remove("compression");
        document.querySelector("#menu").classList.remove("compression");
        open = false;
    }

    function controlSidebar(){
        if(!open){
            openSideBar();
        }
        else closeSidebar();
    }

</script>
</body>
</html>