<div th:fragment="notices-messages">
<div id="sign-in-notice" class="notice-message" >
    <div class="close-notice-message-btn"> &times; </div>
    <header>
        <span> You Must Sign-In Before </span>
    </header>

    <button> <span> Sign In </span> </button>
</div>

<div id="log-in-notice" class="notice-message">
    <div class="close-notice-message-btn"> &times; </div>
    <header>
        <span> You Must Log-In Before </span>
    </header>

    <button> <span> Log In </span> </button>
</div>
</div>

<div class="checkout-notice" th:fragment="checkout-notice">
    <a class="notice-close-btn">&times;</a>
    <div class="buttons">
        <button> Use saved info </button>
        <span> or </span>
        <button> Create new </button>
    </div>
</div>