<div class="auth-form sign" id="popup-sign-in" th:fragment="registration-body">
    <div class="close-sign-btn" id="close-sign-in"> &times; </div>
    <div class="form">
        <h2> Sign In </h2>

        <div class="form-element">
            <label for="username"> Username </label>
            <input type="text" id="username" placeholder="Enter username">
        </div>

        <div class="form-element">
            <label for="reg-email"> Email </label>
            <input type="text" id="reg-email" placeholder="Enter email address">
        </div>

        <div class="form-element">
            <label for="reg-password"> Password </label>
            <input type="password" id="reg-password" placeholder="Enter password">
        </div>

        <div class="form-element">
            <label for="confirm-reg-password"> Confirm Password </label>
            <input type="password" id="confirm-reg-password" placeholder="Repeat password">
        </div>

        <div class="form-element">
            <button id="sign-in-btn"> Sign  In </button>
        </div>

    </div>
</div>