<div class="sign" id="popup-sign-up" th:fragment="registration-body">
    <div class="close-sign-btn" id="close-sign-up"> &times; </div>
    <div class="form">
        <h2> Sign Up </h2>

        <div class="form-element">
            <label for="username" style="margin-bottom: 5px; font-size: 12px"> Username </label>
            <input type="text" id="username" placeholder="Enter username">
            <p class="error-message" id="username-error"></p>
        </div>

        <div class="form-element">
            <label for="reg-email" style="margin-bottom: 5px; font-size: 12px"> Email </label>
            <input type="email" id="reg-email" placeholder="Enter email address">
            <p class="error-message" id="reg-email-error"></p>
        </div>

        <div class="form-element">
            <label for="reg-password" style="margin-bottom: 5px; font-size: 12px"> Password </label>
            <input type="password" id="reg-password" placeholder="Enter password">
            <p class="error-message" id="reg-password-error"></p>
        </div>

        <div class="form-element">
            <label for="confirm-reg-password" style="margin-bottom: 5px; font-size: 12px"> Confirm Password </label>
            <input type="password" id="confirm-reg-password" placeholder="Repeat password">
            <p class="error-message" id="confirm-reg-password-error"></p>
        </div>

        <div class="form-element">
            <button id="sign-in-btn"> Sign In </button>
        </div>

    </div>
    <div th:insert="~{windows :: accept-window}"></div>
</div>