<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/cart.css}"/>
</head>
<body>
<div class="container">
      <div class="row">
        <form class="well form-horizontal col-lg-6 col-lg-offset-3"
              novalidate method="post" th:object="${shipment}" th:action="@{/home/shipment}">
            <legend>Fill shipment form</legend>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">>
                <label for="firstName" class="col-md-4 text-left control-label">First name</label>
                <div class="col-md-8 input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="${shipment.firstName}" class="form-control" id="firstName"/>
                </div>
                <p class="error-message col-lg-offset-4"
                   th:each="error : ${#fields.errors('firstName')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group"
                 th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''" >
                 <label for="lastName" class="col-md-4 text-left control-label">Last name</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input th:field="${shipment.firstName}" class="form-control" id="lastName"/>
                </div>
                <p class="error-message col-lg-offset-4"
                   th:each="error : ${#fields.errors('lastName')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group"
                 th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                <label for="email" class="col-md-4 text-left control-label">Email</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="email" th:field="${shipment.email}" id="email"/>
                </div>
                    <p class="error-message col-lg-offset-4"
                       th:each="error : ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
            </div>
            <div class="form-group"
                th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error:''">
                <label for="phoneNumber" class="col-md-4 text-left control-label">Phone number</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
                </div>
                    <p class="error-message col-lg-offset-4"
                        th:each="error : ${#fields.errors('phoneNumber')}"
                        th:text="${error}">Validation error</p>
            </div>

            <div class="form-group"
                 th:classappend="${#fields.hasErrors('country')}? 'has-erorr'">
                 <label for="country" class="col-md-4 text-left control-label">Country</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select id="country" th:size="${countries.size()}">
                        <option th:each="country : ${countries}"
                                th:field="${shipment.country}" th:text="${country}"></option>
                    </select>
                    <span class="error-message col-lg-offset-4"
                          th:each="error : ${#fields.errors('country')}"
                          th:text="${error}">Validation error
                    </span>
                </div>
            </div>

            <div class="form-group"
            th:classappend="${#fields.hasErrors('state')}? 'has-error'">
                <label for="state" class="col-md-4 text-left control-label">State</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select class="form-control selectpicker" id="state"
                            th:size="${states.get(shipment.country).size()}">
                        <option th:each="state : ${states.get(shipment.country)}"
                                th:field="${shipment.state}" th:text="${state}">
                        </option>
                    </select>
                    <span class="error-message col-lg-offset-4"
                          th:each="error : ${#fields.errors('state')}"
                          th:text="${error}">Validation error
                    </span>
                </div>
            </div>

            <div class="form-group"
            th:classappend="${#fields.hasErrors('city')}? 'has-erorr:'">
                <label for="city" class="col-md-4 text-left control-label">City</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select class="form-control selectpicker" id="city"
                            th:size="${states.get(shipment.state).size()}">
                        <option th:each="city : ${cities.get(shipment.state)}"
                                th:field="${shipment.city}" th:text="${city}">
                        </option>
                    </select>
                    <span class="error-message col-lg-offset-4"
                          th:each="error : ${#fields.errors('city')}"
                          th:text="${error}">Validation error
                    </span>
                </div>
            </div>

            <div class="form-group"
                 th:classappend="${#fields.hasErrors('streetName')}">
                 <label for="streetName">Street name</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input th:field="${shipment.streetName}" type="text" id="streetName">
                </div>
                <p class="error-message col-lg-offset-4"
                      th:each="error : ${#fields.errors('streetName')}"
                      th:text="${error}">Validation error
                    </p>
            </div>

            <div class="form-group"
                 th:classappend="${#fields.hasErrors('buildingNumber')}? 'has-erorr:'">
                <label for="buildingNumber" class="col-md-4 text-left control-label">Building number</label>
                <div class="input-group col-md-8">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input th:field="${shipment.buildingNumber}"
                           id="buildingNumber" class="form-control">
                </div>
                    <p class="error-message col-lg-offset-4"
                       th:each="error : ${#fields.errors('buildingNumber')}"
                       th:text="${error}">Validation error</p>
                </div>

            <div class="form-group"
                 th:classappend="${#fields.hasErrors('roomNumber')}? 'has-error:'">
                <label for="roomNumber" class="col-md-4 text-left control-label">Room number</label>
                <div class="input-group col-md-8">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input th:field="${shipment.roomNumber}" type="text" id="roomNumber">
                </div>
                <p class="error-message col-lg-offset-4"
                   th:each="error : ${#fields.errors('buildingNumber')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group"
                 th:classappend="${#fields.hasErrors('zipCode')}? 'has-error:'">
                <label for="zipCode" class="col-md-4 text-left control-label">Zip code</label>
                <div class="input-group col-md-8">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input th:field="${shipment.zipCode}" type="text" id="zipCode">
                </div>
                <p class="error-message col-lg-offset-4"
                   th:each="error : ${#fields.errors('zipCode')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group">
                <label for="saveForm" class="col-md-4 text-left control-label">Save shipment info</label>
                <div class="input-group col-md-8 ">
                    <label class="radio-inline">
                        <input value="true" type="checkbox" id="saveForm" th:field="${shipment.saveShipmenInfo}">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <div th:if="${#fields.hasErrors()}">
                    <button class="btn btn-warning" disabled="disabled">Send <span class="glyphicon glyphicon-send"></span></button>
                    </div>
                    <button class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>
        </form>
      </div>
</div>

</body>
</html>