<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/cart.css}"/>
</head>
<body>
<div class="container">
      <div class="row">
        <form name="shipmentForm" class="well form-horizontal col-lg-6 col-lg-offset-3"
              novalidate method="post" th:object="${shipment}">
            <legend>Fill shipment form</legend>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">>
                <label for="firstName" class="col-md-4 text-left control-label">First name</label>
                <div class="col-md-8 input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="${shipment.firstName}" class="form-control" id="firstName"/>
                </div>
                <p class="error-message col-lg-offset-4"
                   th:each="error : ${#fields.errors('firstName')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group"
                 th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''" >
                 <label for="lastName" class="col-md-4 text-left control-label">Last name</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input th:field="${shipment.firstName}" class="form-control" id="lastName"/>
                </div>
                <p class="error-message col-lg-offset-4"
                   th:each="error : ${#fields.errors('lastName')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div class="form-group"
                 th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                <label for="email" class="col-md-4 text-left control-label">Email</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="email" th:field="${shipment.email}" id="email"/>
                </div>
                    <p class="error-message col-lg-offset-4"
                       th:each="error : ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
            </div>
            <div class="form-group"
                th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error:''">
                <label for="phoneNumber" class="col-md-4 text-left control-label">Phone number</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
                </div>
                    <p class="error-message col-lg-offset-4"
                        th:each="error : ${#fields.errors('phoneNumber')}"
                        th:text="${error}">Validation error</p>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('country')}? 'has-erorr'">
                 <label for="country" class="col-md-4 text-left control-label">Country</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select id="country" th:size="${countries.size()}">
                        <option th:each="country : ${countries}"
                                th:field="${shipment.country}" th:text="${country}"></option>
                    </select>
                    <span class="error-message col-lg-offset-4"
                          th:each="error : ${#fields.errors('country')}"
                          th:text="${error}">Validation error
                    </span>
                </div>
            </div>

            <div class="form-group"
            th:classappend="${#fields.hasErrors('state')}? 'has-error'">
                <label for="state" class="col-md-4 text-left control-label">State</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select class="form-control selectpicker" id="state"
                            th:size="${states.get(shipment.country).size()}">
                        <option th:each="state : ${states.get(shipment.country)}"
                                th:field="${shipment.state}" th:text="${state}">
                        </option>
                    </select>
                    <span class="error-message col-lg-offset-4"
                          th:each="error : ${#fields.errors('state')}"
                          th:text="${error}">Validation error
                    </span>
                </div>
            </div>

            <div class="form-group" >
                <label for="city" class="col-md-4 text-left control-label">City</label>
                <div class="col-md-8 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                </div>
            </div>

        </form>
      </div>
</div>

</body>
</html>