<div id="sort-container" class="container" th:fragment="sort">
    <div class="select-btn">
        <span class="btn-text"> Sort By : </span>
        <span class="arrow-down" id="arrow">
                <i class="fas fa-chevron-down"></i>
            </span>
    </div>
    <ul class="sort-types">
        <li class="type" style="margin-top: 3px">
            <span class="type-name"> Relevance </span>
        </li>

        <li class="type">
            <span class="type-name"> Popularity </span>
        </li>

        <li class="type">
            <span class="type-name"> Latest Release </span>
        </li>

        <li class="type">
            <span class="type-name"> Price Low To High </span>
        </li>

        <li class="type">
            <span class="type-name"> Price High To Low </span>
        </li>
    </ul>
</div>